## Intuition Testing for Exposure Gain

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns

### Data Cleaning

In [2]:
# Import the dataset as a dataframe
df = pd.read_csv("./dataset/water_potability.csv")
df.head(10)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0
8,NaN,118.988579,14285.583854,7.804174,268.646941,389.375566,12.706049,53.928846,3.595017,0
9,11.180284,227.231469,25484.508491,9.077200,404.041635,563.885481,17.927806,71.976601,4.370562,0

In [3]:
new_df = df.copy(deep=True)
print("Original Shape: ", df.shape)
new_df = new_df.map(lambda x : pd.to_numeric(x, errors="coerce"))
new_df = new_df.dropna()
print("After dropping non-numeric and NaN values:", new_df.shape)
new_df = new_df.drop_duplicates()
print("After dropping duplicates:", new_df.shape)
potable_miscriteria = ~(new_df["Potability"].isin([0,1]))
print("Number of non-binary in Potability:", potable_miscriteria.sum())

Original Shape:  (3276, 10)
After dropping non-numeric and NaN values: (2011, 10)
After dropping duplicates: (2011, 10)
Number of non-binary in Potability: 0

### Data Visualization

### Models

### Visualization of Results